.product {
  padding: 0 0 14px 0;
}

#products {
  float: left;
  padding: 20px;
}

#products ul {
  padding: 0;
  margin: 0;
}

#cart {
  padding: 20px;
  float: left;
}

#total {
  padding-bottom: 14px;
}
